<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.progzc.ke.mapper.CourseMapper">
    <resultMap id="lineChart" type="com.progzc.ke.entity.chart.LineChart">
        <id column="row" property="row"></id>
        <result column="course_name" property="courseName"></result>
        <association property="course" javaType="com.progzc.ke.entity.Course">
            <id column="id" property="id"></id>
            <result column="course_id" property="courseId"></result>
            <result column="page_view" property="pageView"></result>
            <result column="selling_quantity" property="sellingQuantity"></result>
            <result column="log_date" property="logDate"></result>
        </association>
    </resultMap>
    <select id="queryListByIdOfMode" resultMap="lineChart">
        SET @num = 1;
        SET @course_id = 0;
        SET @row = 0;
        /*第一部分*/
        SELECT t2.*,t1.course_name,@row:=@row+1 `row`
        FROM (
        SELECT course.id,ids.course_name FROM course
        INNER JOIN (SELECT id,course_name FROM info WHERE menu_id = #{id}) AS ids
        WHERE course.course_id = ids.id ) AS t1
        /*第二部分*/
        INNER JOIN (
        SELECT id,course_id,page_view,selling_quantity,log_date
        FROM (
        SELECT
        id,
        course_id,
        page_view,
        selling_quantity,
        log_date,
        @num := IF(@course_id = course_id,@num + 1,1) AS row_num,
        @course_id := course_id AS dummy
        FROM course
        ORDER BY course_id,log_date DESC
        ) AS x WHERE x.row_num &lt;= #{count}) AS t2
        WHERE t1.id = t2.id;
    </select>

    <select id="querySellingSumByGroup" resultType="com.progzc.ke.entity.chart.WordCloud">
        SET @num = 1;
        SET @course_id = 0;

        SELECT t1.course_name `name`,t2.`value`
        FROM info t1 INNER JOIN (
        SELECT course_id,SUM(selling_quantity) `value`
        FROM (
        SELECT id,course_id,page_view,selling_quantity,log_date,
        @num := IF(@course_id = course_id,@num + 1,1) AS row_number,
        @course_id := course_id AS dummy
        FROM course
        ORDER BY course_id,log_date DESC
        ) AS x WHERE x.row_number &lt;= #{count} GROUP BY course_id) AS t2
        ON t1.id= t2.course_id;
    </select>
    <select id="queryViewSumByGroup" resultType="com.progzc.ke.entity.chart.WordCloud">
        SET @num = 1;
        SET @course_id = 0;

        SELECT t1.course_name `name`,t2.`value`
        FROM info t1 INNER JOIN (
        SELECT course_id,SUM(page_view) `value`
        FROM (
        SELECT id,course_id,page_view,selling_quantity,log_date,
        @num := IF(@course_id = course_id,@num + 1,1) AS row_number,
        @course_id := course_id AS dummy
        FROM course
        ORDER BY course_id,log_date DESC
        ) AS x WHERE x.row_number &lt;= #{count} GROUP BY course_id) AS t2
        ON t1.id= t2.course_id;
    </select>
    <select id="querySellingSumByIdOfMenu" resultType="com.progzc.ke.entity.chart.HistogramChart">
        SET @num = 1;
        SET @course_id = 0;

        /*第一部分*/
        SELECT DISTINCT z1.`name` `xAxisHdata`,z2.`seriesHdata`
        FROM (
        SELECT n.`id`,n.`name`,info.`course_name`
        FROM (
        SELECT m1.`id`,m1.`name`
        FROM menu m1 INNER JOIN menu m2 ON m1.`parent_id` = m2.`id`
        WHERE m1.`parent_id` = #{menuId}
        ) AS n INNER JOIN info ON n.id = info.menu_id
        ) AS z1
        /*第二部分*/
        INNER JOIN(
        SELECT t1.`menu_id`,SUM(t2.`value`) `seriesHdata`
        FROM info t1 INNER JOIN (
        SELECT course_id,SUM(selling_quantity) `value`
        FROM (
        SELECT id,course_id,page_view,selling_quantity,log_date,
        @num := IF(@course_id = course_id,@num + 1,1) AS row_number,
        @course_id := course_id AS dummy
        FROM course
        ORDER BY course_id,log_date DESC
        ) AS x WHERE x.row_number &lt;=#{count} GROUP BY course_id) AS t2 ON t1.id= t2.course_id GROUP BY t1.`menu_id`) AS z2
        WHERE z1.`id` = z2.`menu_id`;
    </select>
    <select id="queryViewSumByIdOfMenu" resultType="com.progzc.ke.entity.chart.HistogramChart">
        SET @num = 1;
        SET @course_id = 0;

        /*第一部分*/
        SELECT DISTINCT z1.`name` `xAxisHdata`,z2.`seriesHdata`
        FROM (
        SELECT n.`id`,n.`name`,info.`course_name`
        FROM (
        SELECT m1.`id`,m1.`name`
        FROM menu m1 INNER JOIN menu m2 ON m1.`parent_id` = m2.`id`
        WHERE m1.`parent_id` = #{menuId}
        ) AS n INNER JOIN info ON n.id = info.menu_id
        ) AS z1
        /*第二部分*/
        INNER JOIN(
        SELECT t1.`menu_id`,SUM(t2.`value`) `seriesHdata`
        FROM info t1 INNER JOIN (
        SELECT course_id,SUM(page_view) `value`
        FROM (
        SELECT id,course_id,page_view,selling_quantity,log_date,
        @num := IF(@course_id = course_id,@num + 1,1) AS row_number,
        @course_id := course_id AS dummy
        FROM course
        ORDER BY course_id,log_date DESC
        ) AS x WHERE x.row_number &lt;=#{count} GROUP BY course_id) AS t2 ON t1.id= t2.course_id GROUP BY t1.`menu_id`) AS z2
        WHERE z1.`id` = z2.`menu_id`;
    </select>

</mapper>
